/* --------------------------------------------------------------

   Blueprint CSS forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms

   Usage:
   * For text fields, use class .title or .text
   * For inline forms, use .inline (even when using columns)

-------------------------------------------------------------- */

input.text, input[type=text], input[type=search], input[type=password], input[type=url], input[type=email] {
	padding: 2px;
	line-height: 16px;
	height: 16px;
	border: 1px solid #7C7C7C;
	border-color: #7C7C7C #C3C3C3 #DDDDDD;
}

textarea {
	padding: 2px;
}