body {
 font-size: 18px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

li {
  margin-bottom: 7px;
}

.hero-unit {
  padding: 20px;
  margin-bottom: 0px;
}

  .hero-unit a {
    margin-left: 30px;
  }

.github {
  opacity: 1;
  display: block;
  width: 28px;
  height: 25px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #CCA300;
  font-size: 30px;
  background: #EEE;
  border-radius: 8px;
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-right: 30px;
  box-shadow: 0 0 3px black;
  -webkit-box-shadow: 0 0 3px black;
  -moz-box-shadow: 0 0 3px black;

  color: #999!important;

  -webkit-transition: color;
  display: inline-block;
  text-decoration: inherit;
}

    .github:hover{
      text-decoration: none;
      -webkit-transform: scale(1.1);
    }

.posts {
}


.talk {
  margin-bottom: 40px;
}

  .talk a {
    font-size: 16px;
  }

  .talk iframe {
    margin-top: 15px;
  }
